<div class="container mt-4">
    <table class="table table-hover table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table table-light" *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.website }}</td>
                <td>
                    <button class="btn btn-primary btn-sm me-2" (click)="onEdit(user)">Edit</button>
                    <button class="btn btn-danger btn-sm" (click)="onDelete(user.id)">Delete</button>    
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success d-block mx-auto mt-3 mb-3" [routerLink]="['/adduser']" id="addUserBtn">Add New User</button>
</div>
