<div class="container mt-4 justify-content-center col-md-4">
    <table class="table table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>Company Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Metis International</td>
                <td>
                    <button class="button btn btn-dark btn-sm " (click)="viewUsers()">View Users</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="showChildTable">
    <app-childtable [users]="users" (deleteUser)="deleteUser($event)" (editUser)="editUser($event)"></app-childtable>
</div>